@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  height: 48px;
  width: 100%;
  background: #fff;
  margin-bottom: 3%;
}

.nav_menu {
  height: 100%;
  padding: 1% 5%;
}

.nav_desktop {
  display: flex;
  align-items: center;
}

.nav_logo_container img {
  height: 100%;
  width: 10rem;
}

.popup_addComment li {
  list-style: none;
  margin-bottom: 3%;
  width: 100%;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu ul li {
  list-style: none;
  margin-right: 25%;
}

.nav_logo_container a,
.nav_menu ul li a {
  text-decoration: none;
  color: #000;
}

.nav_menu ul li a:hover {
  text-decoration: underline;
  color: #5271ff;
}

main {
  margin-bottom: 5%;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1% 5%;
  row-gap: 6%;
  column-gap: 6%;
}

.card {
  display: flex;
  flex-direction: column;
}

.comments_btn {
  padding: 2% 3%;
}

.card_comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1% 5%;
}

.card_top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 7%;
}

/* close poppup */
.popup_main {
  display: none;
  background-color: #5271ff;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 3.2%;
  left: 0.2%;
  right: 3.2%;
  bottom: 3.2%;
  margin: 2%;
  border: #000 solid 1px;
  border-radius: 9px;
  overflow-y: scroll;
}

.card_poster_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 103%;
}

.card_top button {
  font-size: 35px;
  background-color: #fff0;
  border: none;
  cursor: pointer;
}

.show_attributes {
  width: 60%;
  margin-top: 3%;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5%;
  row-gap: 2rem;
  justify-content: center;
  font-size: 19px;
}

.show_name {
  margin-top: 23%;
}

.popup_commentsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 55%;
  margin-top: 5%;
  margin-bottom: 9%;
}

.popop_commentListTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.comments_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.comments_list span {
  margin-bottom: 2%;
}

.popup_addComment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 55%;
  margin-top: 2%;
}

.popup_addComment ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.popop_addCommentTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 23%;
  margin-top: 11%;
}

.popup_addComment h2 {
  color: #000;
}

input {
  border: none;
  padding: 1% 3%;
  width: 44%;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 5px;
}

.submit_btnComment {
  border-radius: 5px;
  color: #5271ff;
  background-color: #fff;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2% 4%;
  font-size: 13px;
  margin-bottom: 3%;
}

footer {
  width: 100%;
  padding: 1% 5%;
  border-top: #000 solid 2px;
  margin-top: 3%;
}

.footer_credits {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.footer_credits span {
  font-size: 15px;
}
